.star
    margin: 0
    width: 15px
    height: 15px
    padding: 0
    &:hover
        filter: drop-shadow(1px 1px 1px grey)

    &_green
        fill: #ABD02D
        stroke: #ABD02D
    &_empty
        fill: #ffffff
        stroke: #ABD02D
    &_red
        fill: #FF5D00
        stroke: #FF5D00
    &_empty2
        fill: #ffffff
        stroke: #FF5D00
    &_chlorine
        fill: #DAE700
        stroke: #DAE700
    &_empty3
        fill: #ffffff
        stroke: #DAE700
    &_orange
        fill: #FFA800
        stroke: #FFA800
    &_empty4
        fill: #ffffff
        stroke: #FFA800
    &_jade
        fill: #67C600
        stroke: #67C600


        
